

.landingPageContent{
    margin-top: 30px;
    text-align: center;
    color: #FEB922;
}

#firstSentence{
    color: white;
    
}

/* add orange text to sentence */
#firstSentence::after{
    color: #FEB922;
    content: "Food Hero";
}

.landingPageContent h2{
    font-weight: 500;
}

#secondSentence{
    margin-top: 60px;
    margin-bottom: 20px;
}

#thirdSentence::after{
    content: "Food Waste";
    font-weight: 700;
}

#fourthSentence::after{
    content: "Sustainability";
    font-weight: 700;
}

.landingPageContent img{
    margin-top: 80px;
    margin-bottom: 80px;
}

.landingPageContent h3{
    font-weight: 400;
}

.landingPageContent h4{
    color: white;
    font-weight: 500;
}

.landingPageContent a{
    text-decoration: underline;
    color: #FEB922;
    cursor: pointer;
}
